h1 {
    color: black;
    font-size: medium;
}
@font-face {
    font-family: "Raleway";
    src: url("/Fonts/Raleway-Regular.ttf")
}  
.menu{height: 42px;
    line-height: 40px;
    background: fixed;
}   
body{ font-family: 'Raleway';
}   
label {
    display: block
    font :railway
}
button{
    background-color: blue;
    color: white;
}
.p{
    color: black;
    font-size: small;
    font-family: 'Raleway';
}
h2{
    font-size: medium;
    font-family: 'Raleway';
}



