@media screen and(min-width: 780px){
    full-width-img {
        margin: auto;
        width: 90%;
    } 
}


/*............................................... */
@font-face {
    font-family: 'Raleway';
    src:url("Fonts/Raleway-VariableFont_wght.ttf") format('truetype'),
        url("Fonts/Raleway-Regular.ttf") format('truetype'),
        url("Fonts/Raleway-Light.ttf") format('trutype');
    font-style: normal;
    font-weight: normal;
}  
body {
    font-family: 'Raleway-Regular.ttf';
    position: relative;
    height: 1400px;
    margin: 0 auto;   
}
h1 {
    color: #000000;
    font-size: 1em;
    font-weight: normal;
    margin: 5 5 5 5px;
    font-family:'Raleway-Regular.ttf';
}
h2  {
    font-size: 0.8em;
    font-weight: normal;
    margin: 5 5 5 5px;
    font-family: 'Raleway-Regular.ttf';
}
h3 {
    color: black;
    font-size:smaller;
}
h1, h2, h3 { font-family:'Raleway-Regular.ttf';
}
p { font-size: smaller;
    font-family: 'Raleway-VariableFont_wght';
}
label {
    display: block;
    font-family: 'Raleway';
}
#bloc_page {
    width: 900px;
    margin:auto;
}
.button {
    border : 1 px solid #ccc;
    background-color:#0065fc;
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    align-content: center;
    font-size: 0.8em;    
}  
.button:hover{
    border :0px solid black;
    background: white;
    color: white;
}
.button:active {
    background: transparent;
    color: white;
}
.link { cursor: pointer;
    }
.p{
    line-height: 20px;
    color: black;
    font-size: 1em;
    font-family: 'Raleway';
}
a visited {
    text-decoration: none;
    color: black;
}
nav{
    position: inherit;
    float:right;
    font-size: 1em;
}
nav{
    text-decoration:none;
    display: flex;
    text-align: center;
    padding-top: 0.09em;
}
filter { margin: 5 5 5 5px;

} 
.element{ background-color: #f2f2f2;
    
    border-radius: 25px;
        margin: 20px;
        padding: 10px 10px;
        width: 100px;
        height: 100px;   
        box-sizing: content-box;    
        display: block;         
}
ul {
    list-style: none;
}
#nav {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em; 
}
nav ul {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    justify-content: left;
}
nav li{
    margin-right: 15px;
}
nav a {
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    background-color: #fff;
    color: #0065FC;
}
nav a:hover,a:active { 
    cursor: pointer;
    background-color: white;
    color: black;
}
.relative {
    display: inline-block;
    top: 23%;
    background-color: #F2F2F2;
    border-radius: 5px;
    border-top: 100px;
    border-bottom: 100px;
    padding: 10px;
    width: 60%;
    position: relative;
}

.section{
    float: left;
    width: 50%;
}
.item1 {
    margin: 10px;
    width: 900px;
    font-family: raleway;
}
.item1 li {
    display: block;
    width: 150px;
    float: left;
    margin-left: 2px;
    border-radius: 1px solid #ccc;
    border-style: solid;
    border-radius: 50px;
    border-color: #f2f2f2;
}
.item1 a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: white; 
    color: black;
}
.item1 a:hover {
    background-color: white;  
    color: #0065FC
}   
.box {
    position: absolute;
    left: 60%;
    right:10%;
    flex: 1.2;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    float: right;
    margin: 0px;
    width: 25%;
    top: 22%;
    margin: 1em;
    height: 629px;
    display:list-item;
 
}
.after-box  {
    clear: left;
} 
.container {
    
    display: -webkit-flex;
    display: flex;
     
}
.initial {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
}   
.section2 {
    background-color: #f2f2f2;
    margin: 0px;
    padding: 10px;
    height: 150px;
    width: 200px;
    margin-top: 20px;
    
} 
aside img{
    margin-right: 5px;
} 
.aside {
    float: right;
    width: 25%;
}
.section3{
    width: 80%;
    margin: auto;
}
footer {
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;
    padding: 50px 0;
    text-align: justify;
}

.column1of3, .column2of3, .column3of3 {
    width: 300px;
    float: center;
    justify-content: space-around;
   
} 

@media (max-width:600px){
    nav li {
        display: inline;
    }
}